html {
  font-size: 16px;
}

body {
  background-color: #FFF;
  min-width: 520px;
}
/* //+// HEADER STYLES //+// */
header {
  top: 0;
  display: inline-flex;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #666;
  z-index: 999;
}

a {
  text-decoration: none;
  color: inherit;
}

.headerLogo {
  display: inline-flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  padding: 0;
}

.headerLogo img {
  height: 3rem;
}

.headerLogo h2 {
  font-weight: 200;
  padding-left: .2rem;
  color: #AAA;
}

.headerLogo h2 span {
  font-weight: 700;
  color: #555;
}

.headerNav {
  width: 90%;
  padding: 0 4rem;
  display: inline-flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  flex-flow: row wrap;
}

.headerNav div {
  padding-left: 1rem;
  margin: 0;
  justify-content: space-between;
}

.headerNav h2 {
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #666;
}
/* //+// HEADER STYLES //+// */
@media only screen and (max-width: 840px){
  html {
    font-size: 14px;
  }
}
/* //+// HEADER STYLES //+// */
